<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form [formGroup]="signForm" (ngSubmit)="onSubmit()">
      <div id="user-data" formGroupName="userData">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            class="form-control"
            formControlName="username"
            placeholder="please enter your name"
          />
          <div
            class="help-block"
            *ngIf="
              !signForm.get('userData.username').valid &&
              signForm.get('userData.username').touched
            "
          >
            <span *ngIf="signForm.get('userData.username').errors['required']"
              >name is requierd</span
            >
            <span
              *ngIf="
                signForm.get('userData.username').errors['isForbiddenName']
              "
              >name is invalid</span
            >
          </div>
        </div>
        <button class="btn btn-default" type="button">
          Suggest an Username
        </button>
        <div class="form-group">
          <label for="email">Mail</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
            placeholder="please enter your email"
          />
          <div
            class="help-block"
            *ngIf="
              !signForm.get('userData.email').valid &&
              signForm.get('userData.email').touched
            "
          >
            <span *ngIf="signForm.get('userData.email').errors['required']">
              email is required
            </span>
            <span
              *ngIf="signForm.get('userData.email').errors['isForbiddenEmail']"
            >
              email is invalid
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Favorite foods</label>
        <div formArrayName="foods">
          <label
            *ngFor="let food of signForm.get('foods').controls; let i = index"
          >
            <input
              type="checkbox"
              [value]="foodsList[i].value"
              [formControlName]="i"
            />
            {{ foodsList[i].label }}
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="secret">Secret Questions</label>
        <select id="secret" class="form-control" formControlName="secret">
          <option value="">Please choose your secret</option>
          <option value="pet">Your first Pet?</option>
          <option value="teacher">Your first teacher?</option>
        </select>
      </div>
      <div class="form-group">
        <div class="radio">
          <label>
            <input type="radio" value="male" formControlName="gender" />
            <span>Male</span>
          </label>
          <label>
            <input type="radio" value="female" formControlName="gender" />
            <span>Female</span>
          </label>
        </div>
      </div>
      <div class="form-group">
        <div formArrayName="hobbies">
          <h4>Your hobbies</h4>
          <button class="btn btn-default" type="button" (click)="onAddHobby()">
            Add hobby
          </button>
          <div
            *ngFor="
              let hobby of signForm.get('hobbies').controls;
              let i = index
            "
          >
            <input type="text" [formControlName]="i" />
          </div>
        </div>
      </div>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!signForm.valid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
